/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 07.04.2016, 14:34:53
    Author     : YEO
*/
html {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    position: relative;
};

P {
    text-indent: 20px;
}

.fill {
    width: 100%;
    height: 100%;
}

.logosvg {
    background: url("../../../uploaded/images/logosvg.svg");
    display: block;
    //text-indent: -9999px;
    width: 800px;
    height: 800px;
    background-size: 800px 800px;
    left: auto;
    right: auto
};


@media (min-width: @screen-sm-min) {
    .navbar-nav > li {
        &:hover, &:active {
            border-top: solid @pink;

            > a {
                padding-top: @navbar-padding-vertical - 3;
            }
        }
    }
}


.nav > li > a[class^=navbar-brand] {
   padding-top: @navbar-padding-vertical - 2;
}

.carousel, .carousel-inner {
    height: 100%;
    .item {
        height: 100%;
        overflow-y: auto;
        .container {
            margin-bottom: 50px;
        }
    }

    P {text-indent: 0px;}
}

.carousel-inner .jumbotron {
    background-color: transparent;
}

.carousel-indicators .img-circle {
    display: inline-block;
    width: 90px;
    max-width: 90px;
    height: 90px;
    max-height: 90px;
    border: 2px solid @orange;
    background-color: @marengo;
    margin: 0px 20px;
    padding-top: 10px;
    a {
        max-width: 80px;
    }
}

.text-calling {
    color: @carousel-caption-color;
    text-align: center;
    text-shadow: @carousel-text-shadow;
}

.step1 {
    background: url("../../../uploaded/images/bg/bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //box-shadow: inset 0px 0px 3000px rgba(0, 0, 0, 0.8);
}

.step2 {
    background: url("../../../uploaded/images/bg/bg8.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //box-shadow: inset 0px 0px 3000px rgba(0, 0, 0, 0.8);
}

.step3 {
    background: url("../../../uploaded/images/bg/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //box-shadow: inset 0px 0px 3000px rgba(0, 0, 0, 0.8);

    #equal {padding-bottom: 28px;}
}

.fs10 {
    font-size: 10px;
}

.fs20 {
    font-size: 20px;
}

.fs30 {
    font-size: 30px;
}

.fs40 {
    font-size: 40px;
}

.fs50 {
    font-size: 50px;
}

.fs60 {
    font-size: 60px;
}

.fs70 {
    font-size: 70px;
}

.fs80 {
    font-size: 80px;
}

.fs90 {
    font-size: 90px;
}

.fs100 {
    font-size: 100px;
}

.affix {
    top: 60px;
    
    //Ширина боковой суб-навигации в зависимости от размера экрана:
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {    //Small devices
        width: 227px;
    }
    
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {    //Medium devices
        width: 226px;
    }

    @media (min-width: @screen-lg-min) {    //Large devices Desktops (≥1200px)
        width: 286px;
    }
}/*

#spyproducts, #spyservices {
    margin-top: 40px;
}*/

.thumbnail div[class*=item-image] {
    overflow: hidden;
    img {
        transition: all 0.5s ease 0s;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.carousel-inner {
    .jumbotron {
        h1 {
            font-size: 30px;
            margin-bottom: 20px;
        }

        li {
            font-size: 21px;
        }
    }
    .thumbnail {
        background-color: transparent;
        border: none;
    }
    .img-circle {
        height: 100px;
        width: 100px;
        border: 10px solid;
        padding: 25px 0px;
        margin-bottom: 20px;

        & + p {
            font-size: 16px;
            margin: 0px 7px 10px;
        }
    }

    #first {
        border-color: #B6127A;
    }

    #second {
        border-color: #33FF66;//#00B9B9;
    }

    #third {
        border-color: #00CCFF; //#3295EA;
    }
}

#limit_chzn {
    min-width: 60px;
}

.text-lending {
    padding-top: 20px;
}

.indicators-bg {
    width: 63%;
/*    @defWidth: `Math.max(document.documentElement.clientWidth, window.innerWidth || 0)`;
    max-width: @defWidth / 2 + 85;*/
    bottom: 40px;
    height: 50px;
    position: absolute;
    z-index: 15;
    background-color: @marengo;
    border: 2px solid @orange;
    border-left: none;
    //background: url("../../../images/icons/png/high-speed-train.png") no-repeat center center fixed;
    //background-size: contain;

    p {
        font-size: 30px;
        color: @carousel-caption-color;
        text-shadow: @carousel-text-shadow;
        margin-left: 40px;
    }
}

.main-page-arrow {
    @media (max-width: @screen-xs-max) {
        margin: 15px 0px;
    }

    @media (min-width: @screen-sm-min) {
        margin: 70px 0px;
    }
}

.main-page-smile {
    width: 80px;
    height: 80px;
    margin: 20px 0px;
}

.marengo {background-color: RGBA(76, 88, 102, 0.6)}

#spyproducts, #spyservices, #spyrecommendations {
    font-size: @font-size-small;
        a {
            padding: 5px 0px;
        }
}