/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 07.04.2016, 14:34:53
    Author     : YEO
*/
html {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    position: relative;
};

P {
    text-indent: 20px;
}

.fill {
    width: 100%;
    height: 100%;
}

.logosvg {
    background: url("../../../images/logosvg.svg");
    display: block;
    //text-indent: -9999px;
    width: 800px;
    height: 800px;
    background-size: 800px 800px;
    left: auto;
    right: auto
};


@media (min-width: @screen-sm-min) {
    .navbar-nav > li {
        &:hover, &:active {
            border-top: solid #CC6666;

            > a {
                padding-top: @navbar-padding-vertical - 3;
            }
        }
    }
}


.nav > li > a[class^=navbar-brand] {
   padding-top: @navbar-padding-vertical - 2;   
}

.carousel, .carousel-inner {
    height: 100%;
    .item {
        height: 100%;
        overflow-y: auto;
        .container {
            margin-bottom: 50px;
        }
    }

    P {text-indent: 0px;}
}

.carousel-inner .jumbotron {
    background-color: transparent;
}

.text-calling {
    color: @carousel-caption-color;
    text-align: center;
    text-shadow: @carousel-text-shadow;
}

/*.backdrop {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.step1 {
    //background-color: @gray-lighter;
    background: url("../../../images/bg/bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0px 0px 3000px rgba(0, 0, 0, 0.8);
}

.step2 {
    background: url("../../../images/bg/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0px 0px 3000px rgba(0, 0, 0, 0.8);
}

.step3 {
    background: url("../../../images/bg/bg6.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0px 0px 3000px rgba(0, 0, 0, 0.8);
}

.step4 {
    background: url("../../../images/bg/bg4.jpg") no-repeat center center fixed;
}

/*.q {
    height: 20px;
    max-height: 20px;
    width: 100%;
    position: relative;
    background: url("../../../images/4.png") repeat-x;
}*/

.fs50 {
    font-size: 50px;
    color: white;
}

.plotter {
 background: url("../../../images/headers/raindrops.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    p {color: @white;}
}

.affix {
    top: 60px;
}/*

#spyproducts, #spyservices {
    margin-top: 40px;
}*/

.thumbnail div[class*=item-image] {
    overflow: hidden;
    img {
        transition: all 0.5s ease 0s;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.carousel-inner {
    .jumbotron h1 {
        font-size: 40px;
    }
    .thumbnail {
        background-color: transparent;
        border: none;
    }
    .img-circle {
        height: 100px;
        width: 100px;
        border: 10px solid;
        padding: 25px 0px;
        margin-bottom: 20px;

        & + p {
            font-size: 16px;
            margin: 0px 7px 10px;
        }
    }

    #first {
        border-color: #B6127A;
    }

    #second {
        border-color: #00B9B9;
    }

    #third {
        border-color: #3295EA;
    }
}